{% extends "base.html.twig" %}

{% block title %} Ajouter un article {% endblock %}

{% block body %}

    <p class="fs-5 m-3">Ajouter un nouvel article</p>

    {{ form_start(form) }}
        {{ form_errors(form)}}
            <div class="p-1 mb-1">
                    {{ form_label(form.titre, null, {'label_attr': {'class':'form-label'}}) }}
                    {{ form_widget(form.titre, {'label_attr': {'class':'form-control'}}) }}
            </div>
            <div class="p-1 mb-1">
                    {{ form_label(form.content, null, {'label_attr': {'class':'form-label'}}) }}
                    {{ form_widget(form.content, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="p-1 mb-1">
                    {{ form_label(form.createdDate, null, {'label_attr': {'class':'form-label'}}) }}
                    {{ form_widget(form.createdDate, {'attr': {'class':'form-control'}}) }}
            </div>
            <div class="p-1 mb-1">
                    {{ form_label(form.categories, null, {'label_attr': {'class':'form-label'}}) }}
                    {{ form_widget(form.categories, {'attr': {'class':'form-control'}}) }}
            </div>

            {{ form_widget(form.draft, { 'attr' : { 'class' : 'btn btn-info'}} )}}
            {{ form_widget(form.publish, { 'attr' : { 'class' : 'btn btn-success'}} )}}

        {{ form_rest(form)}}

    {{ form_end(form)}}

{% endblock %}