{% extends "base.html.twig" %}

{% block title %}
    Article n°{{ article.titre }}
{% endblock %}

{% block body %}

    <p class="display-1 mb-3">Article n°{{ article.id }}</p>
    <small>posté le: {{ article.createdDate|date('d/m/Y') }}</small>
    <p>{{ article.content }}</p>
    <div class="row">
        <h6>Voici les Commentaires</h6>
        {%  for comment in article.comments %}
            <div class="col-md-12 border mb-2">
                <small>Le {{ comment.dateComment | date("d/m/Y") }} par {{ comment.author }}</small>
                <p>{{ comment.contenu }}</p>
            </div>
        {%  endfor %}
    </div>
    
    {% for label, messages in app.flashes(['warning', 'error']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {{ form_start(form) }}
    {{ form_errors(form)}}

    {{ form_label(form.contenu, null, {'label_attr':{'class':'form-label'}}) }}
    {{ form_widget(form.contenu, {'attr':{'class':'form-control'}}) }}

    {{ form_label(form.author, null, {'label_attr':{'class':'form-label'}}) }}
    {{ form_widget(form.author, {'attr':{'class':'form-control'}}) }}

    <div class="form-check mt-2">
        {{ form_widget(form.conditions, {'attr':{'class':'form-check-input'}}) }}
        {{ form_label(form.conditions, null, {'label_attr':{'class':'form-check-label'}}) }}
    </div>

    {{ form_rest(form) }}
        <button type submit class="btn btn-primary mt-2">valider</button>
    {{ form_end(form) }}
{% endblock %}